<!-- templates/about/author.html -->
{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<h1>Привет, я Тамерлан</h1>
<p>
  Я занимаюсь backend разработкой. Этот сайт - моё творение. <br>
  Я написал его в рамках прохождения курса "Python backend developer" в Яндекс Практикум.<br>
  Это один из проектов. На моём GitHub есть и другие проекты. <br>
  Я планирую написать очень много интересных приложений. В Яндекс Практикум я изучил:<br>
  <br>
Python<br>
Django<br>
ORM Запросы в БД<br>
Написание тестов<br>
Объектно-ориентированное программирование<br>
Базово MySql<br>
Базово Html верстка<br>
Мое резюме<br>
Дальше я планирую развиваться в этом направлении. Мне очень нравится работать в web разработке.<br>
</p>
{% endblock %}