{% extends "base.html" %}
{% block title %}Ваши подписки{% endblock %}
{% block header %}Ваши подписки{% endblock %}
{% block content %}
  <h1>
    Последние обновления подписок
  </h1>
  <article>
    {% include "includes/switcher.html" with follow=True %}
      {% for post in page_obj %}
        {% include 'includes/card_post.html' %}   
        {% if not forloop.last %}
          <hr>
        {% endif %}
      {% endfor %} 
  </article>
{% include 'includes/paginator.html' %}
{% endblock %}

